[submodule "segment-anything-road"]
	path = segment-anything-road
	url = https://github.com/htcr/segment-anything-road.git
[submodule "sam"]
	path = sam
	url = https://github.com/htcr/segment-anything-road.git
